html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='./stylesheets/bootstrap.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    script(src='./javascripts/react.min.js')
    script(src='./javascripts/react-dom.min.js')
    script(src='./javascripts/babel-core.js')
    title React test
  body
    block content
